

    <div class="spot-form">
      <%= simple_form_for(@spot) do |f| %>
      <label class="text-center fileUpload">
        <span class="upload btn btn-photo">add a photo</span>
        <%= f.input :photo, as: :attachinary, label: false, class: 'update'%>
      </label>

        <%= f.input :comment, as: :text, label: 'Add your comment', required: false, class: 'xxx' %>

        <%= f.fields_for :category do |c| %>
          <div class="category-pick">
            <ul class="tab-group">
              <%= c.collection_radio_buttons :id, Category.all, :id, :name, item_wrapper_tag: false do |input| %>
                <li class="tab">
                  <%= input.radio_button(data: { slug: input.object.slug }) + input.label %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <select id="current-place" name="spot[place]" class="form-control"></select>

        <%= f.submit 'Spot it!', class: 'btn launch btn-search btn-block'%>
      <% end %>
    </div>


<% content_for(:after_js) do %>
  <script>
    function nearbyPlaces(category) {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };

          var url = "/places/nearby?lat=" + pos.lat + "&lng=" + pos.lng +  "&category=" + category;
          $.ajax({
            url: url,
            method: "GET",
            dataType: "json",
            success: function(data) {
              $('#current-place').html("")
              data.results.forEach(function(result) {
                $('#current-place').append("<option value='" + encodeURIComponent(JSON.stringify(result)) + "'>" + result.name + "</option>")
              })
            }
          });
        });
      }
    }


    $(".spot-form .category-pick input[type='radio']").change(function(){
      var slug = $(this).data('slug');
      nearbyPlaces(slug);
    });

    $(".spot-form .category-pick input[type='radio']").first().click();
  </script>
<% end %>
