<%= "hello" %>
<div class="spot-form">
      <%= simple_form_for(@spot) do |f| %>
      <%= f.input :comment %>
      <%= f.input :photo, as: :attachinary %>
      <%= f.submit 'Spot it', class: 'btn btn-primary'%>
      <% end %>
</div>

<!-- #metttre le z-index du .pac-container à 20 et le z-index du .modal à 10 et du .modal backdrop z-index.
