<h6>Last spots of my friends</h6>
<% spots.each do |spot| %>
  <div class="friends">
    <div class="message">
      <%= image_tag((spot.user.try(:facebook_picture_url) || "http://www.skywardimaging.com/wp-content/uploads/2015/11/default-user-image.png"), class: "avatar-large") %>
      <div class="message-name">
        <h3><%= spot.user.try(:first_name) %></h3>
      </div>
      <div class="message-body">
        <div class="placelink">
          <%= link_to spot.place.name, place_path(spot.place_id), class: "open-modal-show-friend" %>
        </div>
        <div class= "placecomment">
          "<%= spot.comment %>"
          <%= spot.created_at.strftime("%d/%m/%Y") %>
        </div>
      </div>
    </div>
  </div>
<%end%>

<script type="text/javascript">
  $('.open-modal-show-friend').click(function(e){
    e.preventDefault();
    var url = $(this).attr("href");
    openModalShow(url);
    $('#exampleModal2').modal("hide");
  });
</script>
