<div class="navbar-wagon">
  <div class="add-spot">
    
      <i class= "glyphicon glyphicon-plus" data-toggle="modal" data-target="#spotModal"></i>
    
  </div>
  <div class="title">
    <a href="/"><strong>Spot it</strong></a>
  </div>
  <div class="search-toggle">
    <a href="#" >
      <i class="fa fa-search"></i>
    </a>
      <!-- <a data-toggle="modal" href="<%= root_path %>" data-target="#exampleModal">Click me</a> -->
  </div>
</div>

 <div class="search">
  <%= form_for :search, method: :get, url: filter_places_path, remote: true do |f| %>
    <%= f.text_field :address, id: 'user_input_autocomplete_address', placeholder: "Address : 107 cours Balguerie etc..", class: 'form-control' %>
    <div class="category-pick">
      <ul class="tab-group">

        <%= f.collection_radio_buttons :choice, Category.all, :id, :name, item_wrapper_tag: false, label: false do |input| %>
          <li class="tab">
            <%= input.radio_button + input.label(:class => "collection_radio_buttons icon-star") %>
          </li>
        <% end %>
      </ul>
    </div>
    <%= f.submit class: 'btn launch btn-search btn-block', value: 'Search' %>
  <% end %>
</div>

<div class="modal fade" id="spotModal" tabindex="-1" role="dialog" aria-labelledby="spotModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="spotModalLabel">Add a new spot !</h5>
        <button type="button" class="close adjusted-closed " data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">
        <%= render "shared/spot_form" %>
      </div>
    </div>
  </div>
</div>
    <!-- Include Google Maps JS API -->
    <!-- <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=#{ENV['GOOGLE_API_SERVER_KEY']}"></script> -->
