<div class="container">
  <div class="content">
  <div class="return-to-map">
    <a href="#" class="place-show-toggle">
      <i class="fa fa-chevron-down fa-lg" aria-hidden="true"></i>
    </a>
  </div>
    <div class="row cards-photos">
      <% if @place.spots.length == 0 %>
        <div class="col-xs-12 col-sm-6 col-md-4 text-center" >
          <p><%= "No spots yet for this place" %></p>
        </div>
      <% else %>
        <% @place.spots.each do |spot| %>
          <% if spot.photo %>
            <div class="col-xs-4">
              <%= link_to spot_path(spot), data: { toggle: "modal", target: "#spot-show", backdrop: false } do %>
                <%= cl_image_tag spot.photo.path, width: 120, height: 100, :effect=>"art:daguerre", crop: :fill  %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
      <div class="infos">
        <h3><%= @place.name %></h3>
        <h4><%= @place.address %></h4>
      </div>
    <div class="map-static" style="width: 100%; height: 150px; background-image: url(<%="https://maps.googleapis.com/maps/api/staticmap?center=#{@place.latitude},#{@place.longitude}&zoom=16&size=400x200&markers=color:blue%7Clabel:%7C#{@place.latitude},#{@place.longitude}&key=#{ENV['GOOGLE_API_SERVER_KEY']}"%>);">
    </div>
  </div>
</div>


<div class="modal fade" id="spot-show" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>
