

<div id="map-static" style='width: 100%; height: 200px; background-image: url(<%="https://maps.googleapis.com/maps/api/staticmap?center=#{@place.latitude},#{@place.longitude}&zoom=16&size=400x200&key=#{ENV['GOOGLE_API_SERVER_KEY']}"%>);'></div>
<h2><%= @place.name %></h2>
<p><%= @place.address %></p>
<div class="row">
  <% if @place.spots.length == 0 %>
  <div class="col-xs-12 col-sm-6 col-md-4 text-center" >
    <p><%= "No spots yet for this place" %></p>
  </div>
  <% else %>
    <% @place.spots.each do |spot| %>
      <div class="col-xs-12 col-sm-6 col-md-4 text-center" >
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                 url('<%= cl_image_tag @place.spot.photo.path, width:50, height: 50, crop: :fill if spot.photo %>')">
         <div>
           <%= spot.comment %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div>
   <div>
    <a href="#" class="place-show-toggle">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
  </div>
</div>



<!-- #Pour chaque spot qui ont cette place_id
#display la photo prise par l'user qui a crée ce spot
#display le commentaire de l'user qui a crée ce spot
#display le created_at
( #display info de l'user avec facebook connect ) -->
